* {
  margin:0;
  padding:0;
}
.card {
  width: 400px;
  box-shadow: 0 0 10px green;
  border-radius: 5px;
  margin: 50px;
  border-radius: 5px;
}
.image-container{
    width: 100%;
    position: relative;
}

.image-container img{
    width: 100%;
}
.image-container span{
    position: absolute;
    top:10px;
    right: 30px;
    display: block;
    background: teal;
    padding: 5px;
    width: 50px;
    text-align: center;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}
.details-container{
    padding: 10px 15px;

}
.details-name p{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;

}
.details-rating{
    margin-top: 10px;
}
.details-rating i{
    color: rgb(255, 255, 0);
    font-weight: 700;
}
.details-price{
    font-size: 18px;
    font-weight: 600px;
    margin-top: 10px;
}